/* reset */
html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html, body{
	line-height: 1;
	background-color: #000066;
	
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	contenido: '';
	contenido: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end reset*/

h1, h2, h3 {font-family: 'ColaborateRegular', Arial, sans-serif;}


strong {font-family: 'ColaborateMediumRegular', Arial, sans-serif;}

em {font-family: 'ColaborateThinRegular', Arial, sans-serif;}

.contenido {max-width: 770px; margin: 30px 0 0 100px;}

.logo {
	letter-spacing: -1px;
	color: rgb(255,153,0);
	text-shadow: 2px 2px 1px rgba(0,0,0,.25);
	font: normal 54px 'ColaborateThinRegular', Arial, sans-serif;
}

.clear:after { 
	contenido: "."; 
	display:block; 
	height:0; 
	clear:both; 
	visibility:hidden;
}

.clear {min-height:1px;}

* html .clear {height:1px;}

.cabecera {
	position: relative;
	border-top: solid 15px white;
	padding: 10px 0 10px 0;
	margin-bottom: 20px;
	text-align:center
}

.principal {
	xxposition: relative;
	padding-bottom: 1em;
	border-bottom: solid 1px rgba(255,255,255,.5);
	xxoverflow:hidden;
	xxmin-height: 300px;
}

.principal h1 {
	font-size: 32px;
	color: white;
	text-shadow: 1px 1px 1px rgba(0,0,0,.75);
	border-bottom: solid 1px rgba(255,255,255,.5);
	margin-bottom: 0.75em;
}

p, li, legend, form {
	font-size: 18px;
	color: white;
	font-family: 'ColaborateLightRegular', Arial, sans-serif;
	line-height: 125%;
	margin-bottom: 10px;
}

a {color:rgba(255,255,255,.75);}

h2 {
	color: rgb(143,180,255);
	margin-bottom: 5px;
	font-size: 22px;
	text-shadow: 1px 1px 1px rgba(0,0,0,.75);
}

h3 {
	font-size: 18px;
	color: rgb(255,153,0);
	
}
