/* reset */
html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html, body{
	line-height: 1;
	background-color: #334873;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	contenido: '';
	contenido: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end reset*/

.contenido {
	max-width: 760px;
	margin: 20px 0 0 100px;
}

.logo {
	letter-spacing: -1px;
	color: rgb(204,102,0);
	text-shadow: 2px 2px 1px rgba(0,0,0,.25);
	font-family: Verdana, Geneva, sans-serif;
	font-size: 54px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	margin: 20px 0 0 20px;
}

.header {
	position: relative;
	border-top: solid 6px white;
	padding: 10px 0 10px 0;
	margin-bottom: 20px;
}

.principal {
	xxposition: relative;
	padding-bottom: 1em;
	border-bottom: solid 1px rgba(255,255,255,.5);
	xxoverflow:hidden;
	xxmin-height: 300px;
}

.principal h1 {
	font-size: 32px;
	color: white;
	text-shadow: 1px 1px 1px rgba(0,0,0,.75);
	border-bottom: solid 1px rgba(255,255,255,.5);
	margin-bottom: 0.75em;
}

p{
	color:#FFF;
	font-weight:bold;
	font-size:1.2em;
}