* {
	margin: 0;
	padding: 0;
}

body{
	background:#E6E6E6;
	text-align: justify;
}

header, .main, footer{
	width:90%;
	max-width: 1000px;
	margin: 20px auto;
}

header nav{
	background: #528FD5;
	overflow: hidden;/*Oculta el contenido sobrante o que no cabe y limpia en float left*/
}

header nav ul{
	list-style: none;
}

header nav ul li{
	float: left;
}

header nav ul li a{
	padding: 10px 20px;
	display: block;
	color:#FFF;
	text-decoration:none;
}

header nav ul li a:hover{
	background:#75ACEC;
}

.main .articles{
	width: 68.5%;
	margin-right: 1.5%;
	float:left;
}

.main .articles article{
	padding: 20px;
	background: #FFF;
	margin-bottom: 20px;
}

aside{
	width: 30%;
	background: #FF8000;
	float:left;
	padding: 20px;
	box-sizing: border-box;
}

footer{
	background: #000;
	color:#FFF;
	clear: both;
	padding: 10px 0px;
	text-align: center;
}