#title {
	text-align: center;
}

.form {
	margin:0px auto;
	width: 40%;
    text-align: center;
}

.form__field {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}